{% extends 'platform/base.html.twig' %}

{% block main %}

<main class="p-3">

    <nav aria-label="breadcrumb small">
        <ol class="breadcrumb">
            <li class="breadcrumb-item small"><a class="link-secondary" href="/admin/">Vezérlőpult</a></li>
            <li class="breadcrumb-item small"><a class="link-secondary" href="/admin/posts/">Bejegyzések</a></li>
            <li class="breadcrumb-item small active" aria-current="page">Összes bejegyzés</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header text-uppercase fw-bold">
            {{ title|trans }}
        </div>
        <div class="card-body">
            {% if tableBody ?? false %}
                <div class="table-responsive small">
                    <table class="table table-hover table-bordered table-sm table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                {% for data in tableHead %}
                                    <th scope="col">{{ data|trans }}</th>
                                {% endfor %}
                                <th class="col text-end">Eszközök</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for data in tableBody %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.summary }}</td>
                                    <td>{{ data.content }}</td>
                                    {#
                                    It's not mandatory to set the timezone in format_datetime(). This is done to
                                    avoid errors when the 'intl' PHP extension is not available and the application
                                    is forced to use the limited "intl polyfill", which only supports UTC and GMT
                                    #}
                                    <td>{{ data.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</td>
                                    <td class="text-end">
                                        <div class="item-actions">
                                            <a href="{{ path('admin_post_show', {id: data.id}) }}" class="btn btn-sm btn-secondary">
                                                <i class="bi bi-eye"></i> {{ 'action.show'|trans }}
                                            </a>

                                            <a href="{{ path('admin_post_edit', {id: data.id}) }}" class="btn btn-sm btn-primary">
                                                <i class="bi bi-pencil"></i> {{ 'action.edit'|trans }}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>{{ 'post.no_posts_found'|trans }}</p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}
