{% for menu in menus %}
    {% if menu.parent is null %}
        {% if menu.hasChildren() %}
            {# Parent menu with children - render as dropdown #}
            <li class="dropdown">
                <a class="nav-link dropdown-toggle link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ menu.title }}
                </a>
                <ul class="dropdown-menu bg-white">
                    {% for child in menu.children %}
                        {% if child.status %}
                            <li><a class="dropdown-item link-body-emphasis" href="{{ child.slug }}">{{ child.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            {# Simple menu item without children #}
            <li class="nav-item">
                <a class="nav-link link-body-emphasis" aria-current="page" href="{{ menu.slug }}">{{ menu.title }}</a>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
