<!DOCTYPE html>
<html lang="{{ language|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="{{ website.metaRobots|default('index, follow') }}">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    {% if website.favicon %}
        <link rel="icon" type="image/png" href="/media/{{ website.favicon.originalName }}">
    {% else %}
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% endif %}

    <style>
        body {
            font-family: "Poppins", sans-serif;
            background-color: {{ website.backgroundColor|default('#ffffff') }};
            color: {{ website.textColor|default('#000000') }};
        }

        {{ website.headerCSS|raw }}
    </style>
    <script>
        {{ website.headerJS|raw }}
    </script>
    {{ website.headerHTML|raw }}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 py-3 text-center display-2 fw-bold">
            <a class="navbar-brand" href="#">{{ website.name|default('') }}</a>
        </div>
        <div class="col-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        {% block navigation %}
                        {% endblock %}

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

{% include 'themes/4_delta/header.html.twig' %}

<div class="container">
    <div class="row m-5">

            {% block body %}
            {% endblock %}

        {% include 'themes/4_delta/sidebar.html.twig' %}

    </div>
</div>

{% include 'themes/4_delta/footer.html.twig' %}

<script src="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
