{% extends 'themes/4_delta/base.html.twig' %}

{% block navigation %}
    {% include 'themes/4_delta/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}
    {% if event.imageUrl is not null %}
        <div class="mb-4">
            <img src="{{ event.imageUrl }}" alt="{{ event.title }}" class="img-fluid w-100 rounded">
        </div>
    {% endif %}

    <h1 class="fw-bold">{{ event.title }}</h1>

    <p class="lead fw-bold" style="text-align:justify;">{{ event.leadDescription }}</p>

    <div class="mb-4" style="text-align:justify;">
        {{ event.description|raw }}
    </div>
    <div class="card text-bg-light">
        <h5 class="card-header fw-bold">Esemény információk</h5>
        <div class="card-body">
            <p class="text-end d-flex justify-content-between border-bottom">
                <span class="text-start">
                    <i class="bi bi-calendar"></i> Kezdési időpont:
                </span>
                <span class="text-end fw-bold">
                    {{ event.startAt|date('Y.m.d') }}
                </span>
            </p>
            <p class="text-end d-flex justify-content-between border-bottom">
                <span class="text-start">
                    <i class="bi bi-clock"></i> Időtartam:
                </span>
                <span class="text-end fw-bold">
                    {{ event.startAt|date('H:i') }} - {{ event.endAt|date('H:i') }}
                </span>
            </p>
            <p class="text-end d-flex justify-content-between border-bottom">
                <span class="text-start">
                    <i class="bi bi-geo-alt"></i> Helyszín:
                </span>
                <span class="text-end fw-bold">
                    {{ event.locationName }}
                    <br>
                    <small>({{ event.location }})</small>
                </span>
            </p>
            {#% if event.performers is not empty %}
                <p class="text-end d-flex justify-content-between border-bottom pb-2 mb-4">
                    <span class="text-start">
                        <i class="bi bi-mic"></i> Fellépők:
                    </span>
                    <span class="text-end">
                        {{ event.performers|join(', ') }}
                    </span>
                </p>
            {% endif %#}
        </div>
        {% if event.ticketUrl is not null %}
            <div class="card-footer text-center">
                <a href="{{ event.ticketUrl }}" class="btn btn-success rounded-0" target="_blank">
                    <i class="bi bi-ticket-perforated"></i>
                    Jegyvásárlás
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
