{% extends 'themes/4_delta/base.html.twig' %}

{% block navigation %}
    {% include 'themes/4_delta/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}
    <div class="col-12">

        <div class="p-3 p-lg-5 bg-white border rounded shadow-sm">
            <h1 class="fw-bold">{{ title|raw }}</h1>

            {{ content|raw }}

            {% if events is defined %}
                <h5 class="text-center"> - {{ events|length }} esemény - </h5>
                <div class="input-group input-group-sm pb-3">
                    <label for="eventsSearchInput" class="input-group-text"><i class="bi bi-search"></i></label>
                    <input type="text" id="eventsSearchInput" class="form-control" placeholder="Keresés...">
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered" id="events">
                        <thead>
                        <tr>
                            <th scope="col">Dátum</th>
                            <th scope="col">Település</th>
                            <th scope="col">Helyszín</th>
                            <th scope="col">Esemény</th>
                            <th scope="col" class="text-end">Jegy</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.startAt|date('Y.m.d. H:i') }}</td>
                                    <td>{% if event.locationEntity %}{{ event.locationEntity.city }}{% endif %}</td>
                                    <td>{{ event.locationName }}<br><small><i>{{ event.location }}</i></small></td>
                                    <td>
                                        {% if event.performer is not empty %}
                                            <h5 class="fw-bold">{{ event.performer }}</h5>
                                        {% endif %}
                                        <h6>{{ event.title }}</h6>
                                        <span class="text-muted ">{{ event.description|striptags }}</span>
                                    </td>
                                    <td class="text-end">
                                        {% if event.ticketUrl is not null %}
                                            <a href="{{ event.ticketUrl }}" class="btn btn-lg btn-success rounded-0" target="_blank">
                                                <i class="bi bi-ticket-perforated"></i>
                                            </a>
                                        {% else %}
                                            <span class="text-muted">Nincs jegy</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
        </div>
    </div>

    <script>
        window.addEventListener("load", (event) => {
            const table = document.getElementById('events');
            const tbody = table.querySelector('tbody');
            const headers = table.querySelectorAll('thead th');
            const searchInput = document.getElementById('eventsSearchInput');

            dataListSearch(tbody, headers, searchInput);
        });

        function dataListSearch(tbody, headers, searchInput)
        {
            searchInput.addEventListener('input', () => {
                const keyword = searchInput.value.toLowerCase();
                tbody.querySelectorAll('tr').forEach(row => {
                    row.style.display = row.textContent.toLowerCase().includes(keyword)
                        ? ''
                        : 'none';
                });
            });
        }

    </script>

{% endblock %}
