{% extends 'themes/4_delta/base.html.twig' %}

{% block navigation %}
    {% include 'themes/4_delta/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}
    <div class="p-5 bg-white border rounded shadow-sm">
        <h1 class="fw-bold">{{ title|raw }}</h1>

        {{ content|raw }}

        {% if events is defined %}
            <h2 class="mt-5">Következő események</h2>

            {% for event in events %}
                <div class="row p-1 mb-3 bg-white border rounded shadow-sm align-items-center">
                    <div class="col-md-2 text-center event-date">
                        <div class="event-day fw-bold">{{ event.startAt|date('Y.m.d.') }}</div>
                        <div class="event-time">{{ event.startAt|date('H:i') }}</div>
                    </div>
                    <div class="col-8">
                        <h5>{{ event.title }}</h5>
                        <p class="mb-1 text-muted">
                            <strong>Helyszín:</strong> {{ event.locationName }} ({{ event.location }})
                        </p>
                        <span class="text-muted">{{ event.description|raw }}</span>
                    </div>
                    <div class="col-2 text-end">
                        <a href="/esemeny/{{ event.slug }}" class="btn btn-sm btn-success rounded-0" title="{{ event.title }} esemény részletei">
                            részletek &raquo;
                        </a>
                    </div>

                </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}
