{% extends 'themes/4_delta/base.html.twig' %}

{% block navigation %}
    {% include 'themes/4_delta/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}
    <div class="col-12">

        <div class="p-3 p-lg-5 bg-white border rounded shadow-sm">
            <h1 class="fw-bold">{{ title|raw }}</h1>

            {{ content|raw }}

            {% if events is defined %}
                <h2 class="text-center fw-bold p-5">Közelgő események</h2>

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Dátum</th>
                            <th scope="col">Helyszín</th>
                            <th scope="col">Esemény</th>
                            <th scope="col" class="text-end">Jegyvásárlás</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.startAt|date('Y.m.d. H:i') }}</td>
                                    <td>{{ event.locationName }}<br><small><i>{{ event.location }}</i></small></td>
                                    <td>
                                        <h5 class="fw-bold">{{ event.title }}</h5>
                                        {% if event.performer is not empty %}
                                            <h6>{{ event.performer }}</h6>
                                        {% endif %}
                                        <span class="text-muted ">{{ event.description|striptags }}</span>
                                    </td>
                                    <td class="text-end">
                                        {% if event.ticketUrl is not null %}
                                            <a href="{{ event.ticketUrl }}" class="btn btn-success rounded-0" target="_blank">
                                                <i class="bi bi-ticket-perforated"></i>
                                                Jegyvásárlás
                                            </a>
                                        {% else %}
                                            <span class="text-muted">Nincs jegy</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}
