<div class="bg-white border rounded shadow-sm p-4 mb-4">
    <h4 class="fw-bold mb-4 text-center">Közelgő események</h4>
    {% if events is defined %}
        <ul class="list-unstyled">
            {% set lastEvents = events|slice(0,10) %}
            {% for event in lastEvents %}
                <li class="py-1 border-bottom">
                    <a href="/esemeny/{{ event.slug }}" class="text-decoration-none text-dark" title="{{ event.title }} esemény részletei">
                        {{ event.title }}
                        <br><span class="text-secondary">{{ event.locationName }}
                        <br><i>{{ event.startAt|date('Y.m.d. H:i') }}</i></span><br>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="bg-white border rounded shadow-sm p-4 mb-4">
    <h4 class="fw-bold mb-4 text-center">Legutóbbi bejegyzések</h4>
    {% if posts is defined %}
        <ul class="list-unstyled">
            {% for post in posts %}
                <li class="py-1 border-bottom">
                    <a href="/{{ post.categories|first.slug }}/{{ post.slug }}" class="text-decoration-none text-dark" title="{{ post.title }} részletei">
                        {{ post.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="bg-white border rounded shadow-sm p-4 mb-4">
    <h4 class="fw-bold mb-4 text-center">Kategóriák</h4>
    {% if categories is defined %}
        <ul class="list-unstyled">
            {% for category in categories %}
                <li class="py-1 border-bottom">
                    <a href="/kategoria/{{ category.slug }}" class="text-decoration-none text-dark" title="{{ category.title }} részletei">
                        {{ category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="bg-white border rounded shadow-sm p-4 mb-4">
    <h4 class="fw-bold mb-4 text-center">Oldalak</h4>
    {% if pages is defined %}
        <ul class="list-unstyled">
            {% for page in pages %}
                <li class="py-1 border-bottom">
                    <a href="/{{ page.slug }}" class="text-decoration-none text-dark" title="{{ page.title }} részletei">
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
