<!DOCTYPE html>
<html lang="{{ language|default('en') }}">
<head>
    {% include 'themes/_global/head.html.twig' %}
    <title>{{ title }} | {{ website.title|striptags }}</title>

    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% if website.favicon %}
        <link rel="icon" type="image/png" href="/media/{{ website.favicon.originalName }}">
    {% else %}
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% endif %}

    <style>
        {{ website.headerCSS|raw }}
    </style>
    <script>
        {{ website.headerJS|raw }}
    </script>
    {{ website.headerHTML|raw }}
</head>
<body>

{% include 'themes/6_zeta/header.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">

            {% block body %}
            {% endblock %}

        </div>

        {% include 'themes/6_zeta/sidebar.html.twig' %}

    </div>
</div>

{% include 'themes/6_zeta/footer.html.twig' %}

{% include 'themes/_global/analytics-script.html.twig' %}

{% include 'themes/_global/footer.html.twig' with { "instance": instance } %}

</body>
</html>
