{% extends 'themes/gamma/base.html.twig' %}

{% block body %}

    <h1 class="fw-bold pb-3">{{ content.title|raw }}</h1>
    {% for post in content.posts %}
        <h2>{{ post.title|raw }}</h2>
        <p>{{ post.metaDescription|raw }}</p>
        <p><a href="{{ content.slug }}/{{ post.slug }}">{{ post.title|raw }} &raquo;</a></p>
        <hr>
    {% endfor %}

{% endblock %}
