{% extends 'themes/6_zeta/base.html.twig' %}

{% block body %}

    <h1>{{ title|raw }}</h1>

    {% if post.featuredImage %}
        <img src="/media/{{ post.featuredImage.originalName }}" alt="{{ title }}" class="img-fluid rounded p-3">
    {% endif %}

    <p class="lead fw-bold">{{ post.leadDescription|raw }}</p>

    {{ content|raw }}

{% endblock %}
