<form action="{{ APP_URL }}/api/" method="post">
    <div class="row">
        <div class="col col-12 col-md-8">
            <h5 class="fw-bold mt-4">Személyes adatok</h5>
            <div class="mb-1">
                <label for="lastName" class="form-label">Vezetéknév *</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required="">
                <div style="position: relative !important; height: 0 !important; width: 0 !important; display: initial !important; float: left !important;" data-lastpass-icon-root=""></div>
            </div>
            <div class="mb-1">
                <label for="firstName" class="form-label">Keresztnév *</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required="">
            </div>
            <div class="mb-1">
                <label for="phone" class="form-label">Telefonszám *</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="például: +36123456789" required="">
            </div>
            <div class="mb-1">
                <label for="email" class="form-label">E-mail cím *</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="például: teszt.elek@domain.hu" required="">
            </div>
            <h5 class="fw-bold mt-4">Számlázás</h5>
            <div class="mb-1">
                <label for="billingZip" class="form-label">Irányítószám *</label>
                <input type="text" class="form-control" id="billingZip" name="billingZip" required="">
            </div>
            <div class="mb-1">
                <label for="billingCity" class="form-label">Település *</label>
                <input type="text" class="form-control" id="billingCity" name="billingCity" required="">
            </div>
            <div class="mb-1">
                <label for="billingAddress" class="form-label">Utca, házszám, (emelet, ajtó, stb.) *</label>
                <input type="text" class="form-control" id="billingAddress" name="billingAddress" required="">
            </div>
            <h5 class="fw-bold mt-4">Fizetés és szállítás</h5>
            <div class="mb-1">
                <label for="paymentMethod" class="form-label fw-bold">Fizetési mód *</label>
                <br>
                {% for paymentMethod in paymentMethods %}
                    <input type="radio" id="{{ paymentMethod.name }}" name="paymentMethod" value="{{ paymentMethod.name }}" required {% if loop.first %} checked {% endif %}>
                    <label for="{{ paymentMethod.name }}">{{ paymentMethod.name }}</label><br>
                    <i>{{ paymentMethod.description|raw }}</i>
                {% endfor %}
            </div>
            <div class="mb-1">
                <label for="shippingMethod" class="form-label fw-bold">Szállítási mód *</label>
                <br>
                {% for shippingMethod in shippingMethods %}
                    <input type="radio" id="{{ shippingMethod.name }}" name="shippingMethod" value="{{ shippingMethod.name }}" required {% if loop.first %} checked {% endif %}>
                    <label for="{{ shippingMethod.name }}">{{ shippingMethod.name }}: {{ shippingMethod.fee|format_number(locale='hu') }},- forint</label><br>
                    <i>{{ shippingMethod.description|raw }}</i>
                {% endfor %}
            </div>
            <div class="mb-1 mt-4">
                <label for="message" class="form-label">Megjegyzés *</label>
                <textarea class="form-control" id="message" name="message" rows="4"></textarea>
            </div>
            <!-- create a checkbox for the terms and conditions -->
            <div class="mt-4 mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="acceptTerms" name="acceptTerms" required="">
                <label class="form-check-label" for="acceptTerms">
                    Elfogadom az <!--a class="text-success fw-bold" href="#"-->Általános Szerződési Feltételek<!--/a-->et.
                </label>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-lg btn-dark btn-block">
                    <i class="bi bi-shield-lock"></i> Biztonságos rendelés
                </button>
            </div>
            <p class="mt-3">
                <small>* kötelező</small>
            </p>
        </div>
        <div class="col col-12 col-md-4 p-3 bg-light rounded">
            <h4 class="fw-bold">Termék(ek)</h4>
            {% set sum = 2490 %}
            {% set quantity = 0 %}
            {% set items = '' %}
            <ul>
                {% for cartItem in cartItems %}
                    {% set sum = sum + (cartItem.qty*cartItem.price) %}
                    {% set quantity = quantity + cartItem.qty %}
                    {% set items = items ~ cartItem.name ~ ',' %}
                    <li>
                        <strong>{{ cartItem.name }}</strong><br>
                        {{ cartItem.qty }} * {{ cartItem.price|format_number(locale='hu') }} = {{ (cartItem.qty * cartItem.price)|format_number(locale='hu') }}
                    </li>
                {% endfor %}
            </ul>
            <p class="border-top">Szállítás: 2 490,- forint</p>
            <p class="border-top text-center pt-4 fs-3 fw-bold">SUM: {{ sum|format_number(locale='hu') }},- forint</p>
        </div>
    </div>
    <input type="hidden" name="honeypot" value="">
    <input type="hidden" name="action" value="order">
    <input type="hidden" name="key" value="{{ key }}">
    <input type="hidden" name="quantity" value="{{ quantity }}">
    <input type="hidden" name="total" value="{{ sum }}">
    <input type="hidden" name="items" value="{{ items }}">
    <input type="hidden" name="currency" value="HUF">
</form>
