{% extends 'themes/5_epsilon/base.html.twig' %}

{% block body %}

    <h1>{{ product.name }}</h1>

    <p class="lead">{{ product.shortDescription|raw }}</p>
    <p>Ár: {{ product.price|format() }} {{ product.currency }}</p>

    {{ product.description|raw }}

    <a href="#" class="btn btn-success mt-3"><i class="bi bi-cart-plus"></i> Kosárba</a>

{% endblock %}
