{% extends 'themes/5_epsilon/base.html.twig' %}

{% block navigation %}
    {% include 'themes/5_epsilon/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row p-2">
            <div class="col-md-6">
                {% if product.mainImage is not null %}
                    <img src="/media/{{ product.mainImage.originalName }}" alt="{{ product.name }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>{{ product.name }}</h1>

                <p class="fs-4"><i class="bi bi-tag"></i> {{ product.price|format_number(locale='hu') }} {{ product.currency }}</p>

                <p class="lead">{{ product.shortDescription|raw }}</p>

                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-dark btn-fluid" onclick="addToCart('{{ product.name }}', {{ product.price }});"><i class="bi bi-cart-plus"></i> Kosárba</a>
                </div>

            </div>
        </div>
        <div class="row my-3 border-top">
            <div class="col-12 py-3">
                <h3 class="text-uppercase fw-bold fs-5">Termék leírása</h3>
                {{ product.description|raw }}
            </div>
        </div>
    </div>

    <script>
        function getCart() {
            const match = document.cookie.match(/(^| )cart=([^;]+)/);
            return match ? JSON.parse(decodeURIComponent(match[2])) : [];
        }

        function saveCart(cart) {
            document.cookie = "cart=" + encodeURIComponent(JSON.stringify(cart)) + ";path=/;max-age=604800";
        }

        function addToCart(productName, price) {
            let cart = getCart();

            const existing = cart.find(p => p.name === productName);

            if (existing) {
                existing.qty += 1;
            } else {
                cart.push({
                    name: productName,
                    price: price,
                    qty: 1
                });
            }

            saveCart(cart);
            alert("Termék kosárba helyezve.")
        }
    </script>

{% endblock %}
