{% extends 'themes/5_epsilon/base.html.twig' %}

{% block navigation %}
    {% include 'themes/5_epsilon/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row py-4">
            <div class="col-md-6">
                {% if product.mainImage is not null %}
                    <div id="productGallery" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% if product.mainImage is not null %}
                                <a href="/media/{{ product.mainImage.originalName }}" data-toggle="product-lightbox" data-gallery="product-gallery" data-size="fullscreen">
                                    <img src="/media/{{ product.mainImage.originalName }}" alt="{{ product.name }}" class="d-block w-100">
                                </a>
                            {% endif %}
                        </div>
                        {% for productImage in product.productMedias %}
                            {% set media = productImage.media %}
                            <div class="carousel-item">
                                <a href="/media/{{ media.originalName }}" data-toggle="product-lightbox" data-gallery="product-gallery" data-size="fullscreen">
                                    <img src="/media/{{ media.originalName }}" alt="{{ productImage.label ?? product.name }}" class="d-block w-100" loading="lazy">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% if product.productMedias is not empty %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#productGallery" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#productGallery" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1 class="fw-bold">{{ product.name }}</h1>

                <p class="fs-4 py-3"><i class="bi bi-tag"></i> {{ product.price|format_number(locale='hu') }} {{ product.currency }}</p>

                <p class="lead">{{ product.shortDescription|raw }}</p>

                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-lg btn-dark btn-fluid" onclick="addToCart({{ product.id }}, '{{ product.name }}', {{ product.price }});"><i class="bi bi-cart-plus"></i> Kosárba</a>
                </div>

                <div id="addToCartSuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;" f data-bs-dismiss="alert">
                    Termék sikeresen kosárba helyezve.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            </div>
        </div>
        <div class="row py-4 border-top">
            <div class="col-12">
                <h3 class="text-uppercase fw-bold fs-5 text-center">Termék leírása</h3>
                {{ product.description|raw }}
            </div>
        </div>
        {% if product.mainImage is not null or product.productMedias is not empty %}
            <div class="row py-4 border-top">
                <div class="col-12">
                    <h3 class="text-uppercase fw-bold fs-5 text-center">Galéria</h3>
                    {% if product.mainImage is not null %}
                        <a href="/media/{{ product.mainImage.originalName }}" data-toggle="product-lightbox" data-gallery="product-gallery" data-size="fullscreen">
                            <img src="/media/{{ product.mainImage.originalName }}" alt="{{ product.mainImage.description }}" class="d-block w-100" loading="lazy">
                        </a>
                    {% endif %}

                    {% for productImage in product.productMedias %}
                        {% set media = productImage.media %}
                            <a href="/media/{{ media.originalName }}" data-toggle="product-lightbox" data-gallery="product-gallery" data-size="fullscreen">
                                <img src="/media/{{ media.originalName }}" alt="{{ media.description }}" class="d-block w-100 py-3" loading="lazy">
                            </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.brandcomstudio.com/node_modules/bs5-lightbox/dist/index.bundle.min.js"></script>
    <script>
        function getCart() {
            const match = document.cookie.match(/(^| )cart=([^;]+)/);
            return match ? JSON.parse(decodeURIComponent(match[2])) : [];
        }

        function saveCart(cart) {
            document.cookie = "cart=" + encodeURIComponent(JSON.stringify(cart)) + ";path=/;max-age=604800;SameSite=None;Secure";
        }

        function addToCart(productID, productName, price) {
            let cart = getCart();

            const existing = cart.find(p => p.ID === productID);

            if (existing) {
                existing.qty += 1;
            } else {
                cart.push({
                    ID: productID,
                    name: productName,
                    price: price,
                    image: "{{ product.mainImage.originalName }}",
                    url: "{{ product.slug }}",
                    qty: 1
                });
            }

            saveCart(cart);
            document.getElementById("addToCartSuccessAlert").style.display = "block";
        }

        function lightBox()
        {
            const options = {
                keyboard: true,
                size: 'fullscreen'
            };

            document.querySelectorAll('[data-toggle="product-lightbox"]').forEach((el) => el.addEventListener('click', (e) => {
                e.preventDefault();
                const lightbox = new Lightbox(el, options);
                lightbox.show();
            }));
        }

        window.addEventListener("load", (event) => {
            lightBox();
        });
    </script>
{% endblock %}
