<!DOCTYPE html>
<html lang="hu">
<head>
    {% include 'themes/_global/head.html.twig' %}
    <title>{{ title }} | {{ website.title|striptags }}</title>

    <link rel="icon" href="/media/{{ website.favicon.originalName }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">

    <style>
        :root {
            --primary-color: #a945ba;
        }
        body {
            font-family: "Montserrat", sans-serif;
        }
        .navbar-brand {
            font-family: "Tenor Sans", sans-serif;
        }
        .text-primary {
            color: var(--primary-color) !important;
        }
        .btn-primary, .btn-outline-primary, .bg-primary {
            background-color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
        }
        .btn {
            border-radius:50px;
        }

        .wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .wave-top {
            position: absolute;
            z-index:1;
            top: 0;
            left: 0;
            width: 100%;
            transform: rotate(180deg);
            line-height: 0;
        }
    </style>

    <link href="/style.css" rel="stylesheet">

</head>
<body>

<nav class="bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">

            {% if website.phone %}
                <li class="nav-item px-1">
                    <a class="nav-link link-body-emphasis px-2 " href="tel:{{ website.phone|replace({'-': ''}) }}">
                        <i class="bi bi-telephone-fill"></i>
                        {{ website.phone|raw }}
                    </a>
                </li>
            {% endif %}
            {% if website.address %}
                <li class="nav-item px-1">
                    <a class="text-decoration-none text-dark nav-link" href="{{ website.googleMapsLink }}" target="_blank">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{ website.address|raw }}
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="nav">
            {% if website.facebook %}
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis fs-4" href="{{ website.facebook }}" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
            {% endif %}
            {% if website.instagram %}
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis fs-4" href="{{ website.instagram }}" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<header class="py-3">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">

            {% if website.logo is not null %}
                <img alt="{{ website.title }} logo" src="/media/{{ website.logo.originalName }}">
            {% endif %}

            <span class="fs-4 fw-bold">{{ website.title }}</span>
        </a>


        <ul class="navbar-nav my-auto"  style="display:inline-block;">

            {% for menu in menus %}
                {% if menu.parent is null %}
                    {% if menu.hasChildren() %}
                        <li class="nav-item px-3 dropdown"  style="display:inline-block;">
                            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown">
                                {{ menu.title }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for child in menu.children %}
                                    {% if child.status %}
                                        <li><a class="dropdown-item" href="{{ child.slug }}" target="{{ child.target }}">{{ child.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item px-3"  style="display:inline-block;">
                            <a class="nav-link active" href="{{ menu.slug }}" target="{{ menu.target }}">{{ menu.title }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li class="nav-item px-3"  style="display:inline-block;">
                <a class="btn btn-primary ms-2" href="/idopontfoglalas">Időpontfoglalás</a>
            </li>
        </ul>

    </div>
</header>
{# % include 'themes/7_eta/nav.html.twig' %#}

{% block body %}
{% endblock %}

{% include 'themes/7_eta/footer.html.twig' %}

<script src="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

{% include 'themes/_global/analytics-script.html.twig' %}

{% include 'themes/_global/footer.html.twig' with { "instance": instance } %}

</body>
</html>
