{{ website.bodyTopHTML|raw }}

<div class="container-fluid py-0 bg-primary-color">
    <div class="container d-flex flex-wrap p-0">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-white-50" href="/">Főoldal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" href="/gyogykezelesek">Gyógykezelések</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" href="/kapcsolat">Kapcsolat</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white-50" href="https://www.facebook.com/vitalitashaz" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container border-bottom">
    <header class="py-md-4">
        <div class="row align-items-center fw-bold">
            <div class="col-12 col-lg-4 text-center text-lg-start">
                <a class="btn btn-outline-light fs-5 fw-bold" href="tel:{{ website.phone|replace({'-': ''}) }}">
                    <i class="bi bi-telephone fw-bold"></i>
                    {{ website.phone|raw }}
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a href="/">
                    <img class="img img-fluid" src="https://uj.vitalitashaz.hu/media/vitalitashaz_hu_bogacs_logo_5.png" alt="{{ website.title|raw }}" title="{{ website.title|raw }}">
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-end">
                <a target="_blank" class="btn btn-outline-light fs-5 fw-bold" href="https://www.google.com/maps?cid=9767394032924822955&hl=hu&_ga=2.37890149.71853044.1498734968-803022388.1496652900">
                    <i class="bi bi-geo-alt fw-bold"></i>
                    Bogács, Dózsa György u 4.
                </a>
            </div>
        </div>
    </header>
</div>

<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            {% for menu in menus %}
                <li class="nav-item">
                    <a href="{{ menu.slug }}" class="nav-link text-primary-color fw-bold" aria-current="page">{{ menu.title|raw }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>
</div>
