<!DOCTYPE html>
<html lang="{{ language|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="{{ website.robots|default('index, follow') }}">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        :root {
            --primary-color: #68442e;
            --secondary-color: #f5efeb;
        }
        .bg-primary-color {
            background-color: var(--primary-color) !important;
        }
        .text-primary-color {
            color: var(--primary-color) !important;
        }

        .gilda-display-regular {
            font-family: "Gilda Display", serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            background-color: var(--secondary-color);
            font-family: "Urbanist", sans-serif;
            font-weight: 400;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .btn {
            border:none;
        }

        a {
            color: var(--primary-color);
        }

        a.btn {
            color: var(--primary-color);
        }
    </style>
</head>
<body>

<div class="container-fluid py-0 bg-primary-color">
    <div class="container d-flex flex-wrap p-0">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-white-50" href="/">Főoldal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" href="/gyogykezelesek">Gyógykezelések</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" href="/kapcsolat">Kapcsolat</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white-50" href="https://www.facebook.com/vitalitashaz" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container border-bottom">
    <header class="py-md-4">
        <div class="row align-items-center fw-bold">
            <div class="col-12 col-lg-4 text-center text-lg-start">
                <a class="btn btn-outline-light fs-5 fw-bold" href="tel:{{ website.phone|replace({'-': ''}) }}">
                    <i class="bi bi-telephone fw-bold"></i>
                    {{ website.phone|raw }}
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a href="/">
                    <img class="img img-fluid" src="https://uj.vitalitashaz.hu/media/vitalitashaz_hu_bogacs_logo_5.png" alt="{{ website.title|raw }}" title="{{ website.title|raw }}">
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-end">
                <a target="_blank" class="btn btn-outline-light fs-5 fw-bold" href="https://www.google.com/maps?cid=9767394032924822955&hl=hu&_ga=2.37890149.71853044.1498734968-803022388.1496652900">
                    <i class="bi bi-geo-alt fw-bold"></i>
                    Bogács, Dózsa György u 4.
                </a>
            </div>
        </div>
    </header>
</div>

<div class="container-fluid">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            {% for menu in menus %}
                <li class="nav-item">
                    <a href="{{ menu.slug }}" class="nav-link text-primary-color fw-bold" aria-current="page">{{ menu.title|raw }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-8">

            {% block body %}

                <img alt="" class="img img-fluid" src="https://www.vitalitashaz.hu/contents/uploads/sites/16/2016/12/illusztracio_lebojtkura_pixabaycom-768x508.jpg">
                <h1>{{ title|raw }}</h1>
                {{ content|raw }}

            {% endblock %}


        </div>
        <div class="col col-md-4">
            <aside>
                <div class="bg-light p-3 rounded mb-3">
                    <h4>Rólunk</h4>
                    <p style="text-align: justify;">{{ website.description }}</p>
                </div>

                <div class="bg-light p-3 rounded mb-3">
                    <h4>Kategóriák</h4>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a class="text-decoration-none" href="{{ category.slug }}">
                                    {{ category.title|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="bg-light p-3 rounded mb-3">
                    <h4>Oldalak</h4>
                    <ul>
                        {% for page in pages %}
                            <li>
                                <a class="text-decoration-none" href="{{ page.slug }}">
                                    {{ page.title|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="bg-light p-3 rounded mb-3">
                    <h3 class="fw-bold">Kapcsolat</h3>
                    <p>
                        {% if website.phone %}
                            Telefon:
                            <a class="text-decoration-none" href="tel:{{ website.phone|replace({'-': ''}) }}">
                                {{ website.phone|raw }}
                            </a>
                            <br>
                        {% endif %}
                        {% if website.email %}
                            E-mail: {{ website.email|replace({'@': ' - @ - '}) }}
                            <br>
                        {% endif %}
                        {% if website.address %}
                            Cím:
                            <a class="text-decoration-none" href="https://maps.google.com/maps?q={{ website.address|url_encode }}" target="_blank">
                                {{ website.address|raw }}
                            </a>
                            <br>
                        {% endif %}
                        {% if website.facebook %}
                            Facebook:
                            <a class="text-decoration-none" href="https://www.facebook.com/{{ website.facebook }}" target="_blank">
                                @{{ website.facebook }}
                            </a>
                            <br>
                        {% endif %}
                        {% if website.instagram %}
                            Instagram:
                            <a class="text-decoration-none" href="https://instagram.com/{{ website.instagram }}" target="_blank">
                                @{{ website.instagram }}
                            </a>
                            <br>
                        {% endif %}
                        {% if website.tiktok %}
                            Instagram:
                            <a class="text-decoration-none" href="https://tiktok.com/{{ website.tiktok }}" target="_blank">
                                @{{ website.tiktok }}
                            </a>
                            <br>
                        {% endif %}
                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid bg-dark text-white p-2">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-3 text-white-50 py-3">
                    <h4>{{ website.title }}</h4>
                    <p class="lead">{{ website.slogan }}</p>
                    <p>{{ website.description }}</p>
                </div>
                <div class="col-12 col-md-3 py-3">
                    <h4 class="text-white-50">Elérhetőségek</h4>
                    <ul>
                        {% if website.phone %}
                            <li>
                                <i class="bi bi-telephone"></i>
                                <a class="text-white text-decoration-none" href="tel:{{ website.phone|replace({'-': ''}) }}">
                                    {{ website.phone|raw }}
                                </a>
                            </li>
                        {% endif %}
                        {% if website.email %}
                            <li>
                                <i class="bi bi-envelope"></i>
                                {{ website.email|replace({'@': ' - @ - '}) }}
                            </li>
                        {% endif %}
                        {% if website.address %}
                            <li>
                                <i class="bi bi-geo-alt"></i>
                                <a class="text-white text-decoration-none" href="https://maps.google.com/maps?q={{ website.address|url_encode }}" target="_blank">
                                    {{ website.address|raw }}
                                </a>
                            </li>
                        {% endif %}
                        {% if website.facebook %}
                            <li>
                                <i class="bi bi-facebook"></i>
                                <a class="text-white text-decoration-none" href="https://www.facebook.com/{{ website.facebook }}" target="_blank">
                                    Facebook
                                </a>
                            </li>
                        {% endif %}
                        {% if website.instagram %}
                            <li>
                                <i class="bi bi-instagram"></i>
                                <a class="text-white text-decoration-none" href="https://instagram.com/{{ website.instagram }}" target="_blank">
                                    Instagram
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-12 col-md-3 py-3">
                    <h4 class="text-white-50">Kategóriák</h4>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a class="text-white text-decoration-none" href="{{ category.slug }}">
                                    {{ category.title|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 col-md-3 py-3">
                    <h4 class="text-white-50">Oldalak</h4>
                    <ul>
                        {% for page in pages %}
                            <li>
                                <a class="text-white text-decoration-none" href="{{ page.slug }}">
                                    {{ page.title|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container border-top border-secondary">
            <div class="row text-white-50 pt-2 fw-6">
                <div class="col-12 col-md-6 text-start">
                    &copy; {{ "now"|date("Y") }} {{ website.title }}. Minden jog fenntartva.
                </div>
                <div class="col-12 col-md-6 text-end">
                    <a href="https://www.brandcomstudio.com/hu/" target="_blank" class="text-white-50">brandcom. weboldalkészítés</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
