<head>
    <meta charset="UTF-8">
    <title>{{ website.title }}</title>
    <meta name="description" content="{{ website.description }}">
    <meta name="robots" content="index,follow">
    <meta name="author" content="">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- prevent caching to ensure latest content is always displayed -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ website.domain }}" />
    <meta property="og:title" content="{{ website.title }}" />
    <meta property="og:description" content="{{ website.description }}" />
    <meta property="og:image" content="https://www.valhallacalling.hu/media/facebook.jpg" />
    <meta property="fb:app_id" content="1454931065532523" />

    <!-- CSS -->
    <link rel="icon" href="/media/{{ website.favicon.originalName }}">
    <!--link rel="stylesheet" type="text/css" href="assets/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"-->

    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">
    <!--link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/components/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/node_modules/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/node_modules/swiper/swiper.min.css"-->

    <link rel="stylesheet" type="text/css" href="/style.css">


    <style>
        :root {
            --main-color: #b28647;
        }
        .text-bg-primary {
            background-color: var(--main-color) !important;
        }
        .list-group-item{
            background-color: transparent;
        }
        h2, .text-primary {
            color: var(--main-color) !important;
        }
        .border-primary {
            border-color: var(--main-color) !important;
        }
    </style>

    <script>
        function postData(url, data) {
            // Convert object to URL-encoded form data (like $_POST)
            const formBody = Object.keys(data)
                .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
                .join('&');

            return fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: formBody,
                credentials: "include"
            })
                .then(response => response.text())
                //.then(response => response.json()) // or .text() if not JSON
                .catch(error => console.error('Error:', error));
        }

        function getCartContents() {
            const match = document.cookie.match(/(^| )cart=([^;]+)/);
            return match ? JSON.parse(decodeURIComponent(match[2])) : [];
        }

        function checkout(APIKey)
        {
            const cartContents = getCartContents();
            const checkoutDOM = document.getElementById('checkout');

            /*
            let checkoutDOMContent = '';
            for (const cartItem of cartContents) {
                checkoutDOMContent += cartItem.name+" - "+cartItem.price+" - "+cartItem.qty+" - "+cartItem.price*cartItem.qty+"<br>";
            }
            checkoutDOM.innerHTML = checkoutDOMContent;
             */

            // Usage
            postData('{{ APP_URL }}/api/', {
                honeypot: '',
                action: 'checkout',
                key: APIKey,
                cart: JSON.stringify(cartContents)
            }).then(html => {
                checkoutDOM.innerHTML += html;
                addEventListenerForCheckoutShippingChange();
            });
        }

        function addEventListenerForCheckoutShippingChange()
        {
            const shippingMethods = document.querySelectorAll('input[name="shippingMethod"]');
            const shippingMethodFee = document.getElementById('shippingMethodFee');

            function updateShippingFee() {
                const selected = document.querySelector('input[name="shippingMethod"]:checked');

                if (selected && shippingMethodFee) {
                    shippingMethodFee.innerHTML = selected.dataset.fee;
                    var sum = Number(selected.dataset.fee) + Number(document.getElementById("productsSumPrice").value);
                    document.getElementById("sum").innerHTML = sum;
                    document.getElementById("total").value = sum;
                }
            }
            // Set initial value
            updateShippingFee();

            // Update when shipping method changes
            shippingMethods.forEach(method => {
                method.addEventListener('change', updateShippingFee);
            });
        }
    </script>

    {{ website.headerHTML|raw }}

</head>
