<!-- Navigation -->
<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary text-center vh-100">
    <nav class="nav-menu">
        <a href="/">
            <img class="img-fluid p-3" src="/media/{{ website.logo.originalName }}" alt="logo">
        </a>
        <h1 class="text-dark fs-5 nosifer-regular p-3">{{ website.title }}</h1>

        <ul class="list-group list-group-flush py-5">
            {% for menu in menus %}
                <li class="list-group-item">
                    <a href="{{ menu.slug }}" class="text-dark badge rounded-pill p-2 m-0 text-decoration-none text-uppercase fw-light">{{ menu.title }}</a>
                </li>
            {% endfor %}
        </ul>

        <ul class="list-group list-group-horizontal justify-content-center">
            {% if website.bluesky != null and website.bluesky != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.bluesky }}" target="_blank" title="Bluesky"><i class="fs-3 px-1 bi bi-bluesky"></i></a></li>
            {% endif %}
            {% if website.facebook != null and website.facebook != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.facebook }}"  target="_blank" title="Facebook"><i class="fs-3 px-1 bi bi-facebook"></i></a></li>
            {% endif %}
            {% if website.instagram != null and website.instagram != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.instagram }}"  target="_blank" title="Instagram"><i class="fs-3 px-1 bi bi-instagram"></i></a></li>
            {% endif %}
            {% if website.linkedin != null and website.linkedin != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.linkedin }}"  target="_blank" title="LinkedIn"><i class="fs-3 px-1 bi bi-linkedin"></i></a></li>
            {% endif %}
            {% if website.threads != null and website.threads != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.threads }}"  target="_blank" title="Threads"><i class="fs-3 px-1 bi bi-threads"></i></a></li>
            {% endif %}
            {% if website.tiktok != null and website.tiktok != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.tiktok }}"  target="_blank" title="Tiktok"><i class="fs-3 px-1 bi bi-tiktok"></i></a></li>
            {% endif %}
            {% if website.twitter != null and website.twitter != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.twitter }}"  target="_blank" title="X (Twitter)"><i class="fs-3 px-1 bi bi-twitter-x"></i></a></li>
            {% endif %}
            {% if website.googleMapsLink != null and website.googleMapsLink != '' %}
                <li class="list-group-item border-0"><a class="text-primary" href="{{ website.googleMapsLink }}"  target="_blank" title="Google Maps"><i class="fs-3 px-1 bi bi-geo-alt-fill"></i></a></li>
            {% endif %}

        </ul>
    </nav>
</div><!-- /.col-lg-2 -->
