{% extends 'platform/base.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}

<main class="p-4">

    {% include 'platform/backend/v1/elements/flashes.html.twig' %}

    {% include 'platform/backend/v1/elements/breadcrumbs.html.twig' %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-header fw-bold  d-flex justify-content-between">
                        Új
                    </div>
                    <div class="card-body">

                        {{ form_row(form.title) }}
                        {{ form_row(form.summary) }}
                        {{ form_row(form.content) }}

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header fw-bold  d-flex justify-content-between">
                        Közzététel
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="card-footer text-muted text-end">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-save"></i>
                            Mentés
                        </button>

                        {#{ form_widget(form.saveAndCreateNew, {label: 'Közzététel', attr: {class: 'btn btn-primary btn-sm'}}) }#}
                    </div>
                </div>

            </div>
        </div>
    {{ form_end(form) }}

</main>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
