<form action="{{ APP_URL }}/api/" method="post" id="{{ form.name }}-form">
    {% for field in form.fields %}
        <div class="py-2">
            {% if (field.type == 'text') or (field.type == 'email') or (field.type == 'number') %}
                <label for="{{ field.Id }}" class="form-label">{{ field.label }}</label>
                <input
                    class="form-control"
                    aria-label="{{ field.label }}"
                    type="{{ field.type }}"
                    id="{{ field.Id }}"
                    name="{{ field.name }}"
                    value="{{ field.defaultvalue }}"
                    placeholder="{{ field.placeholder }}"
                    aria-describedby="{{ field.Id }}Help"
                >
                {% if field.helpText %}
                    <div id="{{ field.Id }}Help" class="form-text">{{ field.helpText }}</div>
                {% endif %}
            {% elseif field.type == 'date' %}
                <label for="{{ field.Id }}" class="form-label">{{ field.label }}</label>
                <input
                    class="form-control"
                    aria-label="{{ field.label }}"
                    type="date"
                    id="{{ field.Id }}"
                    name="{{ field.name }}"
                    value="{{ field.defaultvalue }}"
                    placeholder="{{ field.placeholder }}"
                    aria-describedby="{{ field.Id }}Help"
                >
                {% if field.helpText %}
                    <div id="{{ field.Id }}Help" class="form-text">{{ field.helpText }}</div>
                {% endif %}
            {% elseif field.type == 'textarea' %}
                <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
                <textarea
                    class="form-control"
                    aria-label="{{ field.label }}"
                    id="{{ field.Id }}"
                    name="{{ field.name }}"
                    placeholder="{{ field.placeholder }}"
                    aria-describedby="{{ field.Id }}Help"
                >{{ field.defaultValue }}</textarea>
                {% if field.helpText %}
                    <div id="{{ field.Id }}Help" class="form-text">{{ field.helpText }}</div>
                {% endif %}
            {% elseif field.type == 'select' %}
                <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
                <select
                    class="form-select"
                    aria-label="{{ field.label }}"
                    id="{{ field.Id }}"
                    name="{{ field.name }}"
                    aria-describedby="{{ field.Id }}Help"
                >
                    {% for option in field.placeholder|split(',') %}
                        <option value="{{ option }}" {% if option == field.defaultValue %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
            {% elseif field.type == 'checkbox' %}
                <label class="form-label">{{ field.label }}</label>
                {% for option in field.placeholder|split(',') %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ option }}" id="{{ option }}" name="{{ field.name }}[]">
                        <label class="form-check-label" for="{{ option }}">
                            {{ option }}
                        </label>
                    </div>
                {% endfor %}
            {% elseif field.type == 'radio' %}
                <label class="form-label">{{ field.label }}</label>
                {% for option in field.placeholder|split(',') %}
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="{{ field.name }}"
                            id="{{ field.Id }}-{{ loop.index }}"
                            value="{{ option }}"
                            {% if option == field.defaultValue %}checked{% endif %}
                        >
                        <label class="form-check-label" for="{{ field.Id }}-{{ loop.index }}">{{ option }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <input type="hidden" name="honeypot" value="">
    <input type="hidden" name="action" value="form">
    <input type="hidden" name="formID" value="{{ form.id }}">
    <input type="hidden" name="key" value="{{ form.apiKey }}">

    <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-primary">Küldés</button>
    </div>

</form>
