<div class="sidebar col-md-3 col-lg-2 p-0 bg-dark d-flex">
    <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white fw-bold" id="sidebarMenuLabel"><i class="bi bi-stack"></i> PLATFORM</h5>
            <button type="button" class="btn-close text-white bg-white" data-bs-dismiss="offcanvas" data-bs-target="
            #sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

            {% for sidebarMenuKey, sidebarMenuValue in sidebarMenu %}
                <h6 id="{{ sidebarMenuKey }}" class="sidebar-heading d-flex px-2 text-white text-uppercase fw-bold">
                    {% if sidebarMenuValue['icon'] is defined and sidebarMenuValue['icon'] is not empty %}
                        <i class="{{ sidebarMenuValue['icon'] }}"></i>
                    {% endif %}

                    {% if sidebarMenuValue['route'] is defined and sidebarMenuValue['children'] is not defined %}
                        <a href="{{ path(sidebarMenuValue['route']) }}" class="text-white text-decoration-none">
                            {{ sidebarMenuValue['title']|trans }}
                        </a>
                    {% else %}
                        {{ sidebarMenuValue['title']|trans }}
                    {% endif %}
                </h6>
                {% if sidebarMenuValue['children'] is defined and sidebarMenuValue['children'] is not empty %}
                    <ul class="nav flex-column mb-auto px-1">
                        {% for sidebarMenuChildKey, sidebarMenuChildValue in sidebarMenuValue['children'] %}

                            {% if sidebarMenuChildValue['children'] is defined and sidebarMenuChildValue['children'] is not empty %}
                                <li class="nav-item">
                                    <button class="nav-link d-flex align-items-center gap-2 text-white collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                        <i class="{{ sidebarMenuChildValue['icon'] }}"></i>
                                        {{ sidebarMenuChildValue['title'] }} ⏷
                                    </button>
                                    <div class="collapse" id="dashboard-collapse" style="">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal px-3 small">

                                            {% for subSidebarMenuChildKey, subSidebarMenuChildValue in sidebarMenuChildValue['children'] %}

                                                {% if subSidebarMenuChildValue['route'] != '' %}
                                                    <a class="nav-link d-flex align-items-center gap-2 text-white" href="{{ path(subSidebarMenuChildValue['route']) }}">
                                                        <i class="{{ subSidebarMenuChildValue['icon'] }}"></i>
                                                        {{ subSidebarMenuChildValue['title'] }}
                                                    </a>
                                                {% else %}
                                                    <span class="nav-link d-flex align-items-center gap-2 text-white-50">
                                                        <i class="{{ subSidebarMenuChildValue['icon'] }}"></i>
                                                        {{ subSidebarMenuChildValue['title'] }}
                                                    </span>
                                                {% endif %}

                                            {% endfor %}

                                        </ul>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    {% if sidebarMenuChildValue['route'] != '' %}
                                        <a class="nav-link d-flex align-items-center gap-2 text-white" href="{{ path(sidebarMenuChildValue['route']) }}">
                                            <i class="{{ sidebarMenuChildValue['icon'] }}"></i>
                                            {{ sidebarMenuChildValue['title']|trans }}
                                        </a>
                                    {% else %}
                                        <span class="nav-link d-flex align-items-center gap-2 text-white-50">
                                            <i class="{{ sidebarMenuChildValue['icon'] }}"></i>
                                            {{ sidebarMenuChildValue['title']|trans }}
                                        </span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
