{% block head %}
<!DOCTYPE html>
<html lang="{{ siteLanguage }}" class="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="{{ metaRobots }}">
    <!-- Facebook OpenGraph | https://developers.facebook.com/docs/sharing/best-practices -->
    <meta property="og:title" content="{{ siteTitle }}">
    <meta property="og:site_name" content="{{ siteTitle }}">
    <meta property="og:url" content="">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="hu_HU">
    <meta property="og:image" content="https://www.paperstories.hu/wp-content/uploads/2022/10/paper-stories-karrier-webfejleszto_pexelscom-lukas-574071.jpg">
    <!--meta property="article:author" content="https://www.facebook.com/paperstories.hu">
    <meta property="article:publisher" content="https://www.facebook.com/paperstories.hu"-->
    <!-- /Facebook OpenGraph -->

    <title>{{ siteTitle }}</title>
    <style>
    </style>
</head>
<body>
{% endblock %}

{% block content %}
    {{ content|raw }}
{% endblock %}

{% block footer %}
</body>
</html>
{% endblock %}
